h1,
h2,
h3,
h4,
p,
a {
  font-family: Arial, Helvetica, sans-serif;
  color: #cccccc;
  text-decoration: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 45px;
}
h2 {
  background-color: #333333;
  padding: 5px 10px;
}
p,
a {
  color: #cccccc;
  font-size: 13px;
}
a:hover,
a.selected {
  color: #a6a8a3;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.borderRad1 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.borderRad2 {
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}
.cartBorder1 {
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  border-top: 1px solid #62a9c5;
  border-left: 1px solid #62a9c5;
  border-right: 1px solid #62a9c5;
}
.cartBorder2 {
  border: 1px solid #62a9c5;
}
.basket {
  background-color: #292a2e;
  position: relative;
  display: block;
  z-index: 2;
}
.basket img.cart,
.basket img.cart2 {
  float: left;
  display: inline-block;
  position: relative;
}
.basket a,
.basket p {
  display: inline-block;
  font-size: 11px;
  position: relative;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: #2c2d31;
}
img {
  padding: 0;
  margin: 0;
  border: 0;
}
#wrapper {
  width: 901px;
  margin: 0 auto;
}
header {
  display: block;
  clear: both;
  height: 80px;
  width: 100%;
  margin-bottom: 9px;
  border-bottom: 4px solid #3e3f43;
  position: relative;
}
header img.logo {
  width: 269px;
  height: 47px;
  margin-top: 14px;
  float: left;
}
header nav#mainNav {
  float: left;
}
header nav#mainNav ul {
  padding: 0;
  list-style: none;
  position: relative;
  left: 0;
  top: 25px;
}
header nav#mainNav ul li {
  display: inline;
}
header nav#mainNav ul li a {
  float: left;
  font-size: 16px;
  padding: 5px 24px;
  font-weight: 500;
}
header div.account {
  background-color: #292a2e;
  position: relative;
  display: block;
  z-index: 2;
  float: right;
  top: 35px;
  height: 25px;
  padding: 5px 10px;
}
header div.account img.cart,
header div.account img.cart2 {
  float: left;
  display: inline-block;
  position: relative;
}
header div.account a,
header div.account p {
  display: inline-block;
  font-size: 11px;
  position: relative;
}
header div.account p {
  color: #63aac6;
  bottom: -5px;
}
header div.cartItems {
  border: 1px solid #62a9c5;
  background-color: #292a2e;
  position: absolute;
  top: 70px;
  right: 0;
  width: 200px;
  z-index: 1;
}
header div.cartItems ul {
  padding: 0;
  list-style: none;
  position: relative;
  padding: 0 13px;
}
header div.cartItems ul li {
  display: block;
  float: left;
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid #7d818c;
}
header div.cartItems ul li p .itemTitle {
  font-weight: bold;
  color: #63aac6;
}
header div.cartItems ul li p .itemQty {
  font-weight: normal;
  float: right;
  padding-right: 20px;
  font-size: 11px;
}
header div.cartItems ul li p .itemDelete {
  font-weight: normal;
  float: right;
  font-size: 11px;
}
section#featured {
  clear: both;
  width: 100%;
  height: 300px;
  display: block;
  margin-bottom: 11px;
}
section#featured div#mainImage {
  background-image: url("../images/new_arrivals.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  position: relative;
}
section#featured div#mainImage h1 {
  font-weight: normal;
  left: 20px;
  line-height: 50px;
  position: absolute;
  top: 50px;
  width: 370px;
  color: #ffffff;
  letter-spacing: 3px;
}
div#content {
  display: block;
  clear: both;
  margin-bottom: 21px;
}
div#content aside#featuredList,
div#content aside#cartList,
div#content div.mens,
div#content div.accessories_for_women {
  display: inline-block;
  width: 285px;
  position: relative;
}
div#content aside#featuredList h2,
div#content aside#cartList h2,
div#content div.mens h2,
div#content div.accessories_for_women h2 {
  margin: 0;
}
@color 10;
div#content aside#featuredList {
  float: left;
  padding-right: 9px;
}
div#content aside#featuredList nav#fProducts ul {
  padding: 0;
  list-style: none;
  position: relative;
}
div#content aside#featuredList nav#fProducts ul li {
  display: block;
  float: left;
  height: 100%;
  position: relative;
  margin-bottom: 24px;
}
div#content aside#featuredList nav#fProducts ul li img.prod_thumb {
  float: left;
  margin-bottom: 3px;
}
div#content aside#featuredList nav#fProducts ul li .pLeft {
  display: inline-block;
  float: left;
  height: 100%;
  padding-right: 10px;
  position: relative;
  width: 70px;
}
div#content aside#featuredList nav#fProducts ul li .pLeft div.cartBtn {
  background-color: #292a2e;
  position: relative;
  display: block;
  z-index: 2;
  float: left;
  top: 0px;
  height: 20px;
  padding: 5px 10px;
}
div#content aside#featuredList nav#fProducts ul li .pLeft div.cartBtn img.cart,
div#content aside#featuredList nav#fProducts ul li .pLeft div.cartBtn img.cart2 {
  float: left;
  display: inline-block;
  position: relative;
}
div#content aside#featuredList nav#fProducts ul li .pLeft div.cartBtn a,
div#content aside#featuredList nav#fProducts ul li .pLeft div.cartBtn p {
  display: inline-block;
  font-size: 11px;
  position: relative;
}
div#content aside#featuredList nav#fProducts ul li .pLeft div.cartBtn img.cart2 {
  left: -2px;
  width: 19px;
  bottom: -2px;
}
div#content aside#featuredList nav#fProducts ul li .pLeft div.cartBtn p {
  bottom: 19px;
  font-size: 9px;
  left: 25px;
  color: #7d818c;
}
div#content aside#featuredList nav#fProducts ul li .pRight {
  position: relative;
  display: inline-block;
  float: left;
  height: 100%;
  width: 200px;
}
div#content aside#featuredList nav#fProducts ul li .pRight h3 {
  margin-bottom: 5px;
}
div#content section#categories div.mens {
  float: left;
  padding: 0 9px;
  border-left: 4px dashed #3e3f43;
  border-right: 4px dashed #3e3f43;
}
div#content section#categories div.mens h2 {
  margin-bottom: 10px;
}
div#content section#categories div.accessories_for_women {
  float: right;
  padding-left: 9px;
}
div#content section#categories div.accessories_for_women h2 {
  margin-bottom: 10px;
}
div#content aside#cartList {
  float: left;
  padding-right: 9px;
}
div#content aside#cartList h2 {
  margin-bottom: 10px;
}
@color 10;
div#content aside#cartList ul#sCart {
  padding: 0;
  list-style: none;
  position: relative;
  padding: 0 13px;
}
div#content aside#cartList ul#sCart li {
  display: block;
  float: left;
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid #7d818c;
}
div#content aside#cartList ul#sCart li p .itemTitle {
  font-weight: bold;
  color: #63aac6;
}
div#content aside#cartList ul#sCart li p .itemQty {
  font-weight: normal;
  float: right;
  padding-right: 20px;
  font-size: 11px;
}
div#content aside#cartList ul#sCart li p .itemDelete {
  font-weight: normal;
  float: right;
  font-size: 11px;
}
div#content section#details {
  display: inline-block;
  width: 605px;
  position: relative;
  margin: 0;
}
div#content section#details h2 {
  margin-bottom: 10px;
}
@color 10;
footer {
  display: block;
  clear: both;
  border-top: 4px solid #3e3f43;
  margin-bottom: 70px;
}
footer div#fb {
  float: right;
  margin-top: 10px;
}
footer div#fb h4 {
  color: #7d818c;
  position: relative;
  bottom: -10px;
  float: left;
  left: -2px;
}
